<div class="container" style="margin-top: 200px;">
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-10 well">
			<h2>CD編集画面</h2>
			<div>
			<%= form_for @cd do |f| %>
			    <%= f.label :CDタイトル %>
			   	  <%= f.text_field :cd_title %><br>
			    <%= f.label :ジャンル %>
			    	<input name="cdgenre">
			   	  <%= f.select :cd_genre, @genres, :include_blank => true %><br>
                <%= f.label :レーベル名 %>
                	<input name="cdlabel">
			      <%= f.select :cd_label, @labels, :include_blank => true %><br>
			    <%= f.label :値段 %>
			      <%= f.text_field :cd_price %>円<br>
			    <%= f.label :在庫数 %>
			      <%= f.number_field :cd_stock %>枚<br>
			    <%= f.label :ジャケット画像 %>
			      <%= f.attachment_field :cd_image %><br>
	            <div>
		            <%= f.fields_for :discs do |disc| %>
                        <%= render 'disc_fields', f: disc %>
                    <% end %>
                    <div>
                	    <%= link_to_add_association 'Discを追加', f, :discs, class:"btn btn-primary" %>
                    </div>
                </div>
            <div><%= f.submit "CDを更新", class:"btn btn-success" %></div>
            <% end %>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>