<div class = “cds-index”, style=“border: 1px solid red;” >

   	<% if @events %>
   		<h3>イベント検索結果</h3>
           <% @events.each do |event| %>
                <div>
                    <div>
                        <p>イベント画像</p>
                        	<%= link_to event_path(event.id) do %>
                            	<%= attachment_image_tag @event, :event_image, format: 'jpeg', fallback: "/images/no_image.jpg", size: "220x220" %>
                        	<% end %>
                    	</div>
                		<div>
                        	<h3><%= event.event_title %></h3>
                        	<h4><%= event.event_day %></h4>
                		</div>
                	</div>
            <% end %>
            <%= paginate @events, class: "pagenate" %>

    <% elsif @cds %>

   			<h3>CD検索結果</h3>
   			<div>
            	<% @cds.each do |cd| %>
                    <div>
                        <p>CDジャケット画像</p>
             			<%= link_to cd_path(cd.id) do %>
             				<%= attachment_image_tag cd, :cd_image, format: 'jpeg', fallback: "/images/no_image.jpg", size: "220x220" %>
            	<% end %>
                    </div>
                    <div>
                        <h4>CDタイトル：<%= cd.cd_title %></h4>
                        <h4>アーティスト名：
                        	<% cd.discs.each do |disc| %>
                            	<% disc.musics.each do |music| %>
                              		<%= music.artist.artist_name %></h4>
                            	<% end %>
                        	<% end %>
                        <h4>ジャンル名：<%= cd.cd_genre %></h4>
                        <h4>価格：<%= cd.cd_price %></h4>
                        <h4>在庫：<%= cd.cd_stock %></h4>
                    </div>
                      	<% if cd.cd_stock == 0 %>
                          	<%= “購入できません” %>
                        <% else %>
                          	<%=form_for(@cart_items) do |f| %>
                            	<%= f.hidden_field :cd_id, :value => cd.id %>
                            	<h4>枚数を選択：<%= f.select :cd_quantity,(0..cd.cd_stock).to_a %></h4>
                            	<%= f.submit "カートに入れる" %>
                        <% end %>
           		<% end %>
            </div>
            <% end %>

            <%= paginate @cds,class: "pagenate" %>
    <% end %>
</div>
