<div class = "cd-show">
	<div class="container">
    <div class="row">
      <div class="col-sm-1">
      </div>
       <div class="col-sm-10 main-back", style="background-color: rgba(0,0,0,0.7);">
		<div class="media">
           			<div class="media-left media-image">
						<%= attachment_image_tag @cd, :cd_image, format: 'jpeg', fallback: "/images/41334.jpg", size: "300x300" %>
					</div>
		<div class="media-body">
					<h2 class="media-heading media-title"><%= @cd.cd_title %></h2>
          <div class="cd-text">ジャンル：<%= @cd.cd_genre %>/ レーベル：<%= @cd.cd_label %></div><br>
						<% artists = [] %>
						<% @cd.discs.each do |disc| %>
					 		<% disc.musics.each do |music| %>
					 		<% if !artists.include?(music.artist.artist_name)%>
					 		    <% artists.push(music.artist.artist_name) %>
					  			<div class="cd-text">・<%= music.artist.artist_name %></div></br>
					  		<% end %>
				     	    <% end %>
					 	<% end %>


				<div class="cd-price"><%= @cd.cd_price %>円</div>
				<div class="cd-text"><%= @cd.cd_stock %><div class="simple-text">枚</div></div>
				<% if @cd.cd_stock == 0 %>
					<%= "購入できません" %>
				<% else %>
					<%=form_for @cart_items do |f| %>

					<%#= f.hidden_field :user_id, :value => current_user.id %>

					<%= f.hidden_field :cd_id, :value => @cd.id %>
					<div class="cart-choice">
					<div class="cart-text"><%= f.select :cd_quantity,(0..@cd.cd_stock).to_a %><div class="simple-text">枚</div></div>
					<div class="cart-text"><%= f.submit "カートに入れる" %></div>
					</div>
					<% end %>
				<% end %>
		</div>
			<div class="admin-btn">
				<% if user_signed_in? && current_user.admin %>
					<%= link_to "編集する", edit_cd_path(@cd.id) ,class: "btn btn-primary"%>
					<%= link_to "このCDを削除", cd_path(@cd.id), method: :delete,"data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
				<% end %>
			</div>
		<div class="cd-table">
		   			<ul class="nav nav-tabs" >
			   			<% @cd.discs.each.with_index(1) do |disc, idx| %>
			   				<% if idx == 1 %>
			   					<li class="active"><a href="#sampleContent<%= idx%>" data-toggle="tab" style="color:gray;">Disc<%= idx%></a></li>
			   				<% else %>
			   					<li class="" ><a href="#sampleContent<%= idx%>" data-toggle="tab"style="color: gray;" >Disc<%= idx%></a></li>
			   				<% end %>
						<% end %>
					</ul>
  				<div style="width:1000px;height:200px;overflow:scroll;">
  					<div class="tab-content">
		   			<% @cd.discs.each.with_index(1) do |disc, idx| %>
		   			<% if idx == 1 %>
		   			  <div class = "tab-pane active" id="sampleContent<%= idx%>">
		   			<% else %>
		   			  <div class = "tab-pane" id="sampleContent<%= idx%>">
		   			<% end %>
						  <% disc.musics.each.with_index(1) do |music, x| %>
							<% a = music %>
								<h4 class="music-text simple-text"><%= x %></h4>
								<h4 class="music-text simple-text"><%= music.music_title %>／<%= a.artist.artist_name %></h4></br>

						  <% end %>
					</div>
					<% end %>
					</div>
				</div>
				</div>

		</div>
	   </div>
      <div class="col-sm-1">
      </div>
</div>
