<div class = "cd-show">
<h1>CD詳細画面</h1>

	<table>
			<tr>
				<th><p>CDジャケット画像</p>
					<%= attachment_image_tag @cd, :cd_image, :fill, 60, 60, format: 'jpeg', fallback: "/images/no_image.jpg" %></th>
				<th><%= @cd.cd_title %></th>

				<th>
					<ul>
							<% @cd.discs.each do |disc| %>
					 			<% disc.musics.each do |music| %>
					  				アーティスト：<%= music.artist.artist_name %></br>
				     			<% end %>
					 		<% end %></ul>
				</th>

				<th><%= @cd.cd_genre %></th>

				<th><%= @cd.cd_price %>円</th>
				<th><% if @cd.cd_stock == 0 %>
					<%= "購入できません" %>
				<% else %>
					<%=form_for @cart_items do |f| %>

					<%#= f.hidden_field :user_id, :value => current_user.id %>

					<%= f.hidden_field :cd_id, :value => @cd.id %>
					<h4>枚数を選択：<%= f.select :cd_quantity,(0..@cd.cd_stock).to_a %></h4>


					<%= f.submit "カートに入れる" %>
					<% end %>
				<% end %></th>
			</tr>
	</table>

	<table>
		<tr>
		   </th>
		   		<ul id="tab-menu" class="clearfix">
			   		<% @cd.discs.each.with_index(1) do |disc, idx| %>
			   			 <a href="#disc<%= idx %>" class="disc_btn">disc<%= idx%></a>
					<% end %>
				</ul>

		   		<% @cd.discs.each.with_index(1) do |disc, idx| %>
		   			<div id = "disc<%= idx %>" class = "disc">
						<% disc.musics.each.with_index(1) do |music, x| %>
							<div class = "musics">
								<h4>曲順：<%= x %></h4>
								<h4>曲名：<%= music.music_title %>
							</div>
						<% end %>
					</div>
				<% end %>
		  </th>
		</tr>
	</table>
</div>