<fieldset>
    <p><%= f.label :曲名 %>
    <%= f.number_field :music_number %>
    <%= f.text_field :music_title %>
    <%= f.label :アーティスト名 %>
    <%= select :artist_name, :artist_name, @artist_names, :include_blank => true %></p>
</fieldset>