<div class="container">
	<div class="row">
		<div class="col-lg-2">
			<div class="sidemenu">
			    <p></p>
			    <p>CD追加</p>
			    <p>イベント追加</p>
			    <p>ユーザー情報</p>
			    <p>購入履歴</p>
			    <p>CD在庫管理</p>
			    <p>アクセス解析</p>
		    </div>
		</div>
		<div class="col-lg-8" style="background-color: gray;">
			<h2>CD追加</h2>
			<%= form_for @cd do |f| %>
			    <p><%= f.label :CD %>
			   	  <%= f.text_field :cd_title %></p>
			    <p><%= f.label :ジャンル %>
			   	  <%= f.select :cd_genre, @genres, :include_blank => true %>
			   	  <%= f.text_field :cd_genre %></p>
                <p><%= f.label :レーベル名 %>
			      <%= f.select :cd_label, @labels, :include_blank => true %>
			      <%= f.text_field :cd_label %></p>
			    <p><%= f.label :値段 %>
			      <%= f.text_field :cd_price %>円</p>
			    <p><%= f.label :在庫数 %>
			      <%= f.number_field :cd_stock %>枚</p>
			    <p><%= f.label :ジャケット画像 %>
			      <%= f.attachment_field :cd_image, placeholder: "ジャケット画像を検索" %></p>
			    <p><%= fields_for @artist do |i| %>
			    　  <%= i.label :新規アーティスト追加 %>
		         　 <%= i.text_field :artist_name %>
		            <%= i.submit "アーティスト追加" %></p>
	            <% end %>
		            <%= f.fields_for :discs do |d| %>
                       <p><%= d.label :Disc %>
                         <%= d.number_field :disc_number %></p>
                    <% end %>                
            <%= f.submit %>    
            <% end %>

            <h2>イベント追加</h2>


            <h2>ユーザー情報</h2>
                <table class="table table-striped table-bordered table-hover">
                	<thead>
                		<tr>
                			<th>ユーザー画像</th>
                			<th>名前</th>
                			<th>編集画面</th>
                			<th>ユーザー削除</th>
                		</tr>
                	</thead>
                	<% @users.each do |user| %>
                	<tbody>
                		<tr>
                			<td><%= attachment_image_tag user, :user_image, format: 'jpeg', fallback: "/image/no_image.jpg", size: "30×30" %></td>
                			<td><%= user.nick_name %></td>
                			<td><%= link_to "編集画面へ", edit_user_path(user.id) %></td>
                			<td><%= link_to "削除", user_path, method: :'delete' %></td>
                		</tr>
                	</tbody>
                	<% end %>
                	<%= paginate @users, class: "pagenate" %>
                </table>

		</div>


		<div class="col-lg-2">
		</div>
	</div>
</div>