<div class="adminpage" id="main">
<div class="container">
	<div class="row">
		<div class="col-lg-1">
        </div>
		<div class="col-lg-10">
            <nav class="navbar">
            	<%= link_to "CD追加", "#1" , data: {toggle: "collapse"},class: "btn btn-primary"%>
            	<%= link_to "アーティスト追加", "#2" , data: {toggle: "collapse"},class: "btn btn-danger"%>
            	<%= link_to "イベント追加", "#3" , data: {toggle: "collapse"},class: "btn btn-warning"%>
            	<%= link_to "ユーザー情報、購入履歴、在庫一覧へ", admin_search_path ,class: "btn btn-info" %>
            	<a href="https://analytics.google.com/analytics/web/?hl=ja#/report-home/a101258708w190751070p186878085" class="btn btn-default">アクセス解析</a>
            </nav>
        </div>
		<div class="col-lg-1">
        </div>
    </div>
	<div class="row">
		<div class="col-lg-1">
        </div>
		<div class="col-lg-10">
			<div id="1" class="collapse">
			<div class="well">
			<h2>CD追加</h2>
			<%= form_for @cd do |f| %>
			    <%= f.label :CD %>
			   	<%= f.text_field :cd_title %><br>
			    <%= f.label :ジャンル %>
			    <input name="cdgenre">
			   	<%= f.select :cd_genre, @genres, :include_blank => true %><br>
                <%= f.label :レーベル名 %>
                <input name="cdlabel">
			    <%= f.select :cd_label, @labels, :include_blank => true %><br>
			    <%= f.label :値段 %>
			    <%= f.text_field :cd_price %>円<br>
			    <%= f.label :在庫数 %>
			    <%= f.number_field :cd_stock %>枚<br>
			    <%= f.label :ジャケット画像 %>
			    <%= f.attachment_field :cd_image %><br>
	            <div>
		            <%= f.fields_for :discs do |disc| %>
                        <%= render 'disc_fields', f: disc %>
                    <% end %>
                	    <%= link_to_add_association 'Discを追加', f, :discs, class:"btn btn-primary" %>
                 </div>
                <%= f.submit "CDを追加", class:"btn btn-success" %>
            <% end %>
            </div>
            </div>

            <div id="2" class="collapse well">
                <h2>アーティスト追加</h2>
                <%= form_for @artist do |i| %>
		            <%= i.text_field :artist_name %>
		            <%= i.submit "アーティストを追加", class:"btn btn-success" %>
	            <% end %>
	        </div>

            <div id="3" class="collapse well">
            <h2>イベント追加</h2>
            	<%= form_for @event do |f| %>
            	<div>
            		<%= f.label :イベント名 %>
            		<%= f.text_field :event_title %>
            	</div>
			   	<div>
			   		<%= f.label :開催日時 %>
			   		<%= f.date_field :event_day %>
			   	</div>
			   	<div>
			   		<%= f.label :開催場所画像 %>
			   		<%= f.attachment_field :event_image, placeholder: "イメージ画像を選択" %>
			   	</div>
			   	<div>
			   		<%= f.label :開催区 %>
			   		<%= f.select :event_city, [["渋谷","渋谷区"], ["新宿","新宿区"],["港","港区"]] %>
			   	</div>
			   	<div>
			   		<%= f.fields_for :performers do |performer| %>
                    <%= render 'performer_fields', f: performer %>
                    <% end %>
			   	</div>
			   	<div>
			   		<%= link_to_add_association '行を追加', f, :performers, class:"btn btn-primary" %>
			   	</div>
			   	<div>
			   		<%= f.label :MAP表示させたい位置情報の住所 %>
			   		<%= f.text_field :event_address %>
			   	</div>
			   	 <%= f.submit "イベントを追加", class:"btn btn-success" %>
                <% end %>
            </div>
		</div>
		<div class="col-lg-1">
        </div>
	</div>
</div>

<style type="text/css">
.slide-div {
  width: 150px;
  text-align: center;
  margin-left: 80%;
  border: #000 1px solid;
  display: none;
}
</style>
<script type="text/javascript">
$(document).ready(function() {
  $("button").on("click", function() {
    console.log('click')
    if ( $(".slide-div").css("display") == "none" ) {
      $("button").text("閉じる");
      $(".slide-div").slideDown();
    } else {
      $("button").text("購入詳細");
      $(".slide-div").slideUp();
    }
  });
});
</script>
</div>