<div class="adminpage"> 
<div class="container">
	<div class="row">
		<div class="col-lg-2">
			<div class="sidemenu">
			    <p></p>
			    <p>CD追加</p>
			    <p>イベント追加</p>
			    <p>ユーザー情報</p>
			    <p>購入履歴</p>
			    <p>CD在庫管理</p>
			    <p>アクセス解析</p>
		    </div>
		</div>
		<div class="col-lg-8" style="background-color: gray;">
			<h2>CD追加</h2>
	      <div>
			<%= form_for @cd do |f| %>
			    <p><%= f.label :CD %>
			   	  <%= f.text_field :cd_title %></p>
			    <p><%= f.label :ジャンル %>
			    	<input name="cdgenre" value="cdgenre">
			   	  <%= f.select :cd_genre, @genres, :include_blank => true %>
                <p><%= f.label :レーベル名 %>
                	<input name="cdlabel" value="cdlabel">
			      <%= f.select :cd_label, @labels, :include_blank => true %>
			    <p><%= f.label :値段 %>
			      <%= f.text_field :cd_price %>円</p>
			    <p><%= f.label :在庫数 %>
			      <%= f.number_field :cd_stock %>枚</p>
			    <p><%= f.label :ジャケット画像 %>
			      <%= f.attachment_field :cd_image, placeholder: "ジャケット画像を選択" %></p>
	            <div>
	            	<%= link_to_add_association 'Discを追加', f, :discs, class:"btn btn-default" %>
	            </div>
	            <div>
		            <%= f.fields_for :discs do |disc| %>
                    <%= render 'disc_fields', f: disc %>
                    <% end %>
                </div>  
                                   
            <div><%= f.submit %></div>   

            <% end %>
              <h2>アーティスト追加</h2>
              <div><%= form_for @artist do |i| %>
		         　 <%= i.text_field :artist_name %>
		            <%= i.submit "アーティストを追加", class:"btn btn-default" %>
	            <% end %>
	            </div>

            <h2>イベント追加</h2>
            <div>
            	<%= form_for @event do |f| %>
            	<div>
            		<%= f.label :イベント名 %>
            		<%= f.text_field :event_title %>
            	</div>
			   	<%# 開催日　%>
			   	<div>
			   		<%= f.label :開催場所画像 %>
			   		<%= f.attachment_field :event_image, placeholder: "イメージ画像を選択" %>
			   	</div>
			   	<div>
			   		<%= f.label :開催区 %>
			   		<%= f.select :event_city, [["渋谷","渋谷区"], ["新宿","新宿区"],["港","港区"]] %>
			   	</div>
			   	<div>
			   		<%= link_to_add_association '行を追加', f, :performers, class:"btn btn-default" %>
			   	</div>
			   	<div>
			   		<%= f.fields_for :performers do |performer| %>
                    <%= render 'performer_fields', f: performer %>
                    <% end %>
			   	</div>
			   	<div>
			   		<%= f.label :MAP表示させたい位置情報の住所 %>
			   		<%= f.text_field :event_address %>
			   	</div>
			   	 <%= f.submit "イベントを追加", class:"btn btn-default" %>
                <% end %>
            </div>


            <h2>ユーザー情報</h2>
                <table class="table table-striped table-bordered table-hover">
                	<thead>
                		<tr>
                			<th>ユーザー画像</th>
                			<th>名前</th>
                			<th>編集画面</th>
                			<th>ユーザー削除</th>
                		</tr>
                	</thead>
                	<% @users.each do |user| %>
                	<tbody>
                		<tr>
                			<td><%= attachment_image_tag user, :user_image, format: 'jpeg', fallback: "/image/no_image.jpg", size: "30×30" %></td>
                			<td><%= user.nick_name %></td>
                			<td><%= link_to "編集画面へ", edit_user_path(user.id) %></td>
                			<td><%= link_to "削除", user_path, method: :'delete' %></td>
                		</tr>
                	</tbody>
                	<% end %>
                	<%= paginate @users, class: "pagenate" %>
                </table>
            <h2>購入履歴</h2>
                <table class="table table-striped table-bordered table-hover">
                	<thead>
                	</thead>
                	<% @purchases.each do |purchase| %>
                	<tbody>
                		<tr>
                			<td><%= purchase.send_name %></td> 
                			<td><%= purchase.purchase_at %></td>
                			<td><%= purchase.send_status %></td>
                			<td>
                				<%= form_for(@purchase) do |f| %>
                				<label>
                					<%= f.radio_button :send_status, "受注" %>受注
                				</label>
                				<label>
                					<%= f.radio_button :send_status, "商品準備中" %>商品準備中
                				</label> 
                				<label>
                					<%= f.radio_button :send_status, "出荷済み" %>出荷済み
                				</label>
                				<%= f.submit "ステータスを変更" %>
                				<% end %>
                			</td>
                		</tr>
                	</tbody>
                	<% end %>
                	<%= paginate @users, class: "pagenate" %>
                </table>
                <h2>CD在庫管理</h2>
                <table class="table table-striped table-bordered table-hover">
                	<thead>
                	</thead>
                	<% @cds.each do |cd| %>
                	<tbody>
                		<tr>
                			<td><%= cd.cd_title %></td>
                			<td><%= cd.cd_stock %></td>
                		</tr>
                	</tbody>
                	<% end %>
                </table>
		</div>


		<div class="col-lg-2">
		</div>
	</div>
</div>
</div>
