<div class="event_main backcolor" >
	<div id="container">
		<div id="theTarget">
			<div class="image1"></div>
			<div class="image2"></div>
			<div class="image3"></div>
			<div class="image4"></div>
			<div class="image5"></div>
		</div>
	</div>
	<div class="container">
  		<div class="row">
    		<div class="col-sm-1">
    		</div>
    		<div class="col-sm-10 main-backcolor">
				<h1 class="main-text">イベント検索</h1>
					<%=form_for @event, url: event_search_path do |f| %>
						<%= f.date_field :event_day %>
						<h4 class="search-text"><%= f.label :"区を選択" %></h4>
	  					<%= f.select :event_city, [["渋谷区", "渋谷区"], ["新宿区", "新宿区"], ["港区", "港区"]] ,class:"form-control" %>
						<div class="search-btn">
						<%= f.submit "検索する" %></div>
					<% end %>


				<div>
					
					  <h2 class="event-head"><%= @events[0].event_day.year %>年<%= @events[0].event_day.month %>月<%= @events[0].event_day.day %>日<%= @events[0].event_city %>のイベント</h2>

						<% @events.each do |event| %>
						<%= link_to event_path(event.id) do %>

						<div class="event-body", style= "border: 1px solid white;">
							<div class="media">
								<div class="media-left media-image" >
								<%= attachment_image_tag event, :event_image, format: 'jpeg',fallback: "/images/no_image.jpg", size: "220x220" %>
								</div>
								<div class="media-body">
									<h2 class="media-heading media-title"><%= event.event_title %></h2>
									<div class="event-text"><%= event.event_day.year %>年<%= event.event_day.month %>月<%= event.event_day.day %>日</div>
									<div class="event-text"><%= event.event_city %></div>
								</div>
							</div>
						</div>
						<% end %>
					<% end %>
					<%= paginate @events, class: "pagenate" %>
				</div>
			</div>
    		<div class="col-sm-1">
    		</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function () {
  $("#theTarget").skippr({
      // スライドショーの変化 ("fade" or "slide")
      transition : 'slide',
      // 変化に係る時間(ミリ秒)
      speed : 1000,
      // easingの種類
      easing : 'easeOutQuart',
      // ナビゲーションの形("block" or "bubble")
      navType : 'block',
      // 子要素の種類("div" or "img")
      childrenElementType : 'div',
      // ナビゲーション矢印の表示(trueで表示)
      arrows : true,
      // スライドショーの自動再生(falseで自動再生なし)
      autoPlay : true,
      // 自動再生時のスライド切替間隔(ミリ秒)
      autoPlayDuration : 3000,
      // キーボードの矢印キーによるスライド送りの設定(trueで有効)
      keyboardOnAlways : true,
      // 一枚目のスライド表示時に戻る矢印を表示するかどうか(falseで非表示)
      hidePrevious : false
  });
});
</script>
