<h1>イベント一覧画面(TOP画面)</h1>

<%form_for(@events) do |f| %>

    <input type="date"></input>
    <p><%= f.submit "保存する" %></p>
<% end %>


<h2><%= @events.day %>のイベント</h2>

	<% @events.each do |event| %>
		<p>event</p>
		<div>
			<div>
				<%= attachment_image_tag event.event_image_id, :event_image_id, :fill, 100, 100, format: 'jpeg',fallback: "no_image.jpg" %>
			</div>
			<div>
				<h3><%= event.title %></h3>
				<h4><%= event.day %></h4>
			</div>
		</div>
	<% end %>

	<%= paginate @events, class: "pagenate" %>
