<h1>イベント一覧画面(TOP画面)</h1>


	<% @events.each do |event| %>
		<p>event</p>
		<h2><%= event.day %>のイベント</h2>
		<div>
			<div>
				<%= attachment_image_tag event.event_image_id, :event_image_id, :fill, 100, 100, format: 'jpeg',fallback: "no_image.jpg" %>
			</div>
			<div>
				<h3><%= event.title %></h3>
				<h4><%= event.day %></h4>
			</div>
		</div>
	<% end %>

	<%= paginate @events, class: "pagenate" %>
