<div class="container" style="margin-top: 250px;  background-color: rgba(0,0,0,0.7);">

  <div class="row" style="color: white; margin-bottom:10px;">

    <div class="col-lg-12 media" >
      <div class="media-left" >
        <%= attachment_image_tag @event, :event_image, format: 'jpeg', fallback: "/images/alexander-popov-522100-unsplash.jpg" ,size: "300x300", class: "event-show-image"%>
      </div>
      <div class="media-body"  style="color: white;">
        <h1 style="color: white; padding-top: 50px; "><div class="event-show-title">【<%= @event.event_title %>】</div></br>
          <div class="event-show-text">
           <%= @event.event_day.year%>年<%= @event.event_day.month%>月<%= @event.event_day.day%>日</br>


          <% if user_signed_in? %>
          <% if @event.favorited_by?(current_user) %>
              <%= link_to  event_asiatos_path(@event), method: :delete do %>
                <%= image_tag("/images/good.png", :size => "60x60") %>

              <% end %>
              <%= @event.asiatos.count %>
              あしあと
        <% else %>
            <%= link_to  event_asiatos_path(@event), method: :post do %>
                  <%= image_tag("/images/nogood.png", :size => "60x60" ) %>

            <% end %>
            <%= @event.asiatos.count  %>
            あしあと
          </div>
         <% end %>
         <% end %>
       </h1>
     </div>
    </div>

  </div>

  <div class="row">

    <div class="col-lg-8" style="color:white; padding-left: 20px;">
      <h1 style="color: white;">出演アーティスト一覧</h1>
      <ol type="1">
      <% @event.performers.each do |f| %>

        <li style="font-size: 30px;">

            <%= link_to  search_path(id: f.artist.id),style: "color: white;" do %>
                <%= f.artist.artist_name %>
            <% end %>


        </li>
  	<% end %>
    </ol>
    </div>

    <div class="col-lg-4">
      <% if user_signed_in? && current_user.admin? %>
      <div class="row" style="color: white;">
        <div class="col-lg-12" style="text-align:center;">
          <div class="admin-show-btn">
          <%= link_to "イベント編集", edit_event_path, class: "btn btn-primary",style: "width: 110px; margin-right:  10px ; "%>


          <%=link_to "イベント削除", event_path(@event), method: :delete, "data-confirm" => "本当に削除しますか？", method: :delete, class: "btn btn-danger",style: "width: 110px; " %></div>
        </div>
      </div>
      <% end %>
      <div class="row" style="color: white;">
        <div class="col-12">
          <h5>アクセス情報</h5>
          <h5>住所：<%= @event.event_address %></h5>
          <style type="text/css">
            #map { height: 300px;
                   margin-left:auto;
                   margin-right:auto;
                   text-align:left;
                  }
          </style>


          <div id="map"></div>
        </div>
      </div>
    </div>

  </div>
  <% if user_signed_in?  %>
  <div class="row" style="width: 800px;">

      <%= form_for [@event, @comment] do |f| %>
      <div class="col-lg-12 comments">
        <h1 style="color: white; margin-left:10px;">コメント記入</h1>

        <div class="col-lg-12 comments" style=" ">
        <%= f.text_field :favorite_artist,class: "form-control " ,placeholder: "好きなアーティスト",style: "width: 200px; " %>
        <ul>
          <li><%= f.text_area :comment ,class: "form-control", placeholder: "コメントをここに", style: "width: 400px; margin-left: -50px;" %></li>
          <li><%= f.submit "送信する", class: "btn btn-lg btn-base-1", style: "margin-top: 10px;" %></li>
        </ul>
        </div>
        <% end %>

</div>
  <div class="row" >

  <div class="col-lg-12" >
    <h1 style="color:white; margin-left: 25px; ">コメント一覧</h1>
    <div style="overflow: auto; height: 200px; border: 3px solid rgba(222,6,6,0.5); width: 800px; margin-left: 27px;">
      <% @event.comments.order(created_at: :desc).each do |f| %>
        <div class="media " style="width:800px;">
          <div class="media-left">
            <%= attachment_image_tag  f.user, :user_image,  format: 'jpeg', fallback: "/images/no_image.jpg", size: "95x95" %>
          </div>
        	<div class="media-body">
            <div class="panel panel-default">
	            <div class="panel-heading">
		             好きなアーティスト：<%= f.favorite_artist %>
            	</div>
	            <div class="panel-body">
	               コメント：<%= f.comment %>
	            </div>
              </div>


        	</div>
        </div>


      	<% end %>







				</div>



   </div>
  </div>
  <% else %>
  <div class="row" >

  <div class="col-lg-12">
    <h1 style="color:white;">コメント一覧</h1>
    <div style="overflow: auto; height: 200px; border: 3px solid rgba(222,6,6,0.5); width: 800px;">
      <% @event.comments.each do |f| %>
        <div class="media " style="width:800px; ">
          <div class="media-left">
            <%= attachment_image_tag  f.user, :user_image,  format: 'jpeg', fallback: "/images/no_image.jpg", size: "95x95" %>
          </div>
        	<div class="media-body">
            <div class="panel panel-default">
	            <div class="panel-heading">
		             好きなアーティスト：<%= f.favorite_artist %>
            	</div>
	            <div class="panel-body">
	               コメント：<%= f.comment %>
	            </div>
              </div>
        	</div>
        </div>
      	<% end %>
				</div>
   </div>
  </div>
<% end %>
</div>








<script type="text/javascript">
    function initMap() {

        var test ={lat: <%= @event.latitude %>, lng: <%= @event.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '住所：<%= @event.event_address %>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?v=[]&callback=initMap">
</script>
