<!DOCTYPE html>
<html>
  <head>
    <title>Ashiato</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= analytics_init if Rails.env.production? %>
  </head>

  <body style="background-color: black;">
  <!-- header -->
  <header>



  <nav class=" navbar-fixed-top" style="background-color: rgba(0,0,0,0.0)">
	<div class="container-fluid" >
    <div class="row">
      <div class="col-lg-2">


        <%= link_to events_path do %>
          <%= image_tag("/images/i.png", :size => "195x195", :alt => "logo") %>
        <% end %>
      </div>
      <div class="col-lg-6" style=" padding-top: 50px;">

        <%= form_tag(search_path, method: :get) do %>
          <%= select_tag(:category,options_for_select([["イベント", "イベント"], ["CD", "CD"]])) %>
          <%= text_field_tag(:content,'', :placeholder => "検索してください") %>
          <%= submit_tag "検索する" %>
        <% end %>


      </div>
      <div class="col-lg-4" style="padding-top: 40px; ">
        <ul style="list-style: none; " >

                        <% if user_signed_in? && current_user.admin%>
                           <li><%=link_to " kanrisya", admin_path(current_user.id), class: "glyphicon glyphicon-user users", style: "color:white;" %></li>
                           <li><%=link_to " Users", user_path(current_user.id), class: "glyphicon glyphicon-user users", style: "color: white;" %></li>
                           <li>
                             <%= link_to cart_item_path(current_user.id), class: "glyphicon glyphicon-book books", style: "color: white;" do %>
                               <%= @count %>
                             <% end %>
                           </li>
                           <li><%=link_to " logout", destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out logout ", style: "color: white;" %></li>


                        <% elsif user_signed_in?  %>
                            <li><%=link_to " Users", user_path(current_user.id), class: "glyphicon glyphicon-user users",style: "color: white" %></li>
                            <li>
                              <%= link_to cart_item_path(current_user.id), class: "glyphicon glyphicon-book books", style: "color: white;" do %>
                                <%= @count %>
                              <% end %>
                            </li>
                            <li><%=link_to " logout", destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out logout", style: "color: white;" %></li>

                        <% else %>
                          <li><%=link_to " sign up", new_user_registration_path, class: "glyphicon glyphicon-edit sign_up", style: "color: white;" %></li>
                          <li><%=link_to " login", new_user_session_path,  class: "glyphicon glyphicon-log-in sign_in", style: "color: white;"%></li>
                         <% end %>
        </ul>

      </div>
    </div>
	</div>
</nav>

</header>

























    <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name %>" style="margin-top: 100px;">
      <%= msg %>
    </div>
    <% end %>
    <%= yield %>
    <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
           <%=link_to "お問合せ", new_user_registration_path, class: "glyphicon glyphicon-edit sign_up" %>
           <h3>ｃ流浪IN研究会</h3>
        </div>
      </div>
    </div>
    </footer>
  </body>
</html>
