<!DOCTYPE html>
<html>
  <head>
    <title>Ashiato</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-4 info">

          </div>
          <div class="col-4">

          </div>
          <div class="col-4">

          </div>
        </div>
      </div>
    </header>

    <%= yield %>
    <footer>

    </footer>
  </body>
</html>
